<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
				<div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mv-main-navbar" aria-expanded="false" aria-controls="navbar">
								<span class="button-label">Menü</span>
								<span class="button-bars">														
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</span>
						</button>
        </div>
        <div class="navbar-collapse collapse" id="mv-main-navbar">
						<ul class="nav navbar-nav navbar-left">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-home"></i>
										</a>
										<ul class="dropdown-menu">
												<li><a href="index.php?s=cAdmin">Dashboard</a></li>
												<li><a href="index.php">Website</a></li>
												<li><a href="index.php?s=cLogout">Logout</a></li>
										</ul>
								</li>
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												Inhalte
										</a>
										<ul class="dropdown-menu">
												<li><a href="index.php?s=cAdmingamedata">Memory Spieldaten</a></li>
												<li><a href="index.php?s=cAdminsites">Seiten/Domains</a></li>
												<li><a href="index.php?s=cAdminnavbaredit">Menüs/Navigation</a></li>
												<li><a href="index.php?s=cAdmincontentedit">Content/Inhalte</a></li>
												<li><a href="index.php?s=cAdminseourlsedit">SEO Urls</a></li>
												<li><a href="index.php?s=cAdmincontactform">Kontakt-Formulare</a></li>
												<li><a href="index.php?s=cAdmintextvariables">Text-Variablen</a></li>
												<li><a href="index.php?s=cAdminwebsellermachines">Webseller State-Maschinen</a></li>
												<li><a href="index.php?s=cAdminurlshortener">URL-Shortener</a></li>
										</ul>
        				</li>
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												Stammdaten
										</a>
										<ul class="dropdown-menu">
												<li><a href="index.php?s=cAdminaccounts">Accounts &amp; Kunden</a></li>
												<li><a href="index.php?s=cAdminproductcategories">Artikel-Kategorien</a></li>
												<li><a href="index.php?s=cAdminproducts">Artikel</a></li>
										</ul>
								</li>
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												Tools
										</a>
										<ul class="dropdown-menu">
												<li class="dropdown">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Daten-Import</a>
														<ul class="dropdown-menu">
																<li><a href="index.php?s=cAdminproductimport">Webseller-Artikel</a></li>
																<li><a href="index.php?s=cAdminwebsellercustomersimport">Webseller-Kunden</a></li>
														</ul>
												</li>
												<li class="dropdown">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Daten-Bereinigung</a>
														<ul class="dropdown-menu">
																<li><a href="index.php?s=cAdminproductclear">Webseller-Artikel</a></li>
																<li><a href="index.php?s=cAdminwebsellercustomersclear">Webseller-Kunden</a></li>
														</ul>
												</li>
										</ul>
								</li>
								
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												Einstellungen
										</a>
										<ul class="dropdown-menu">
												<li><a href="index.php?s=cAdminsetupwebseller">Webseller</a></li>
										</ul>
								</li>
        		</ul>
				
				
						<ul class="nav navbar-nav navbar-right">
								<li><a href="index.php?s=cAdminsetup"><i class="fa fa-cog"></i></a></li>
        		</ul>
        		<!--
        				<form class="navbar-form navbar-right">
        						<input type="text" class="form-control" placeholder="Search...">
        				</form>
        		-->
				</div>
		</div>
</div>

{if $BREADCRUMB|count > 0}
		<div class="container-fluid">
				<ol class="breadcrumb">
						{foreach from=$BREADCRUMB item=crumb name=breadcrumbs}
								<li{if $smarty.foreach.breadcrumbs.last} class="active"{/if}>{if $crumb.url|strlen > 0}<a href="{$crumb.url}">{/if}{$crumb.title}{if $crumb.url|strlen > 0}</a>{/if}</li>
						{/foreach}
				</ol>
		</div>
{/if}

{literal}
		<script>
				$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
						// Avoid following the href location when clicking
						event.preventDefault(); 
						// Avoid having the menu to close when clicking
						event.stopPropagation(); 
						// Re-add .open to parent sub-menu item
						$(this).parent().toggleClass('open');
						$(this).parent().find("ul").parent().find("li.dropdown").addClass('open');
				});
		</script>
{/literal}